<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625818006534-b4h3de579caa0af0o60hr1b3scabiiaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625818006534-b4h3de579caa0af0o60hr1b3scabiiaj</string>
	<key>API_KEY</key>
	<string>AIzaSyA2usP7QzmG-b5M3pFa_qzqxwZG7AIFTmU</string>
	<key>GCM_SENDER_ID</key>
	<string>625818006534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eryklorenc.gameManagement</string>
	<key>PROJECT_ID</key>
	<string>gamemanagement1120</string>
	<key>STORAGE_BUCKET</key>
	<string>gamemanagement1120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625818006534:ios:be110a6a8b1368494cff87</string>
</dict>
</plist>